@{
    ViewData["Title"] = "Card Registration";
}
@model CardPaymentViewModel
@section Scripts
    {

    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
<div class="container">
    <div class="breadcrumb"></div>
</div>



@*<div>
    <form id="register-payment-card" asp-controller="RegisterCard" asp-action="Register" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="CardNumberString">16 Digit Card Number</label>
            <input type="text" asp-for="CardNumberString" />
            <span asp-validation-for="CardNumberString"></span>
        </div>
        <div class="form-group">
            <label asp-for="CardOwnersName">CardHolders Name</label>
            <input type="text" asp-for="CardOwnersName" />
            <span asp-validation-for="CardOwnersName"></span>
        </div>
        <div class="form-group">
            <label asp-for="CardAddress.AddressLine1">Address Line 1</label>
            <input type="text" asp-for="CardAddress.AddressLine1" />
            <span asp-validation-for="CardAddress.AddressLine1"></span>
        </div>
        <div class="form-group">
            <label asp-for="CardAddress.AddressLine2">Address Line 2</label>
            <input type="text" asp-for="CardAddress.AddressLine2" />
        </div>
        <div class="form-group">
            <label asp-for="CardAddress.Town">Town</label>
            <input type="text" asp-for="CardAddress.Town" />
            <span asp-validation-for="CardAddress.Town"></span>
        </div>
        <div class="form-group">
            <label asp-for="CardAddress.County">County</label>
            <input type="text" asp-for="CardAddress.County" />
        </div>
        <div class="form-group">
            <label asp-for="CardAddress.Postcode">Post Code</label>
            <input type="text" asp-for="CardAddress.Postcode" />
            <span asp-validation-for="CardAddress.Postcode"></span>
        </div>

        <input class="btn btn-sm registerBtn" type="submit" value="Register Card Details" />
        <input class="btn cancel-details-btn btn-sm detailsBtn" value="Cancel" onClick="window.location.reload()" />

    </form>
</div>*@
<div>
    <form id="register-payment-card" class="alert-primary" asp-controller="RegisterCard" asp-action="Register" method="post">
        <div asp-validation-summary="ModelOnly"></div>

        <label asp-for="CardNumberString">16 Digit Card Number</label>
        <input type="text" asp-for="CardNumberString" />
        <span asp-validation-for="CardNumberString"></span>
        <br />
        <label asp-for="CardOwnersName">CardHolders Name</label>
        <input type="text" asp-for="CardOwnersName" />
        <span asp-validation-for="CardOwnersName"></span>
        <br />
        <label asp-for="CardAddress.AddressLine1">Address Line 1</label>
        <input type="text" asp-for="CardAddress.AddressLine1" />
        <span asp-validation-for="CardAddress.AddressLine1"></span>
        <br />

        <label asp-for="CardAddress.AddressLine2">Address Line 2</label>
        <input type="text" asp-for="CardAddress.AddressLine2" />
        <br />
        <label asp-for="CardAddress.Town">Town</label>
        <input type="text" asp-for="CardAddress.Town" />
        <span asp-validation-for="CardAddress.Town"></span>
        <br />
        <label asp-for="CardAddress.County">County</label>
        <input type="text" asp-for="CardAddress.County" />
        <br />
        <label asp-for="CardAddress.Postcode">Post Code</label>
        <input type="text" asp-for="CardAddress.Postcode" />
        <span asp-validation-for="CardAddress.Postcode"></span>
        <br />

        <input class="btn btn-sm registerBtn" type="submit" value="Register Card Details" />
        <input class="btn cancel-details-btn btn-sm detailsBtn" value="Cancel" onClick="window.location.reload()" />

    </form>
</div>


<div id="comfirmationModal" class="modal hide fade in" data-url="@Url.Action()"></div>

<script>
    $(document).ready(function () {
        $('.registerBtn').prop('disabled', true);
    })
</script>